  <% if can? :all, current_user %>
<div class="container">
  <h2>
    Edit Survey
    <small> <%= render 'survey_label', survey_type: @survey.survey_type %> </small>
  </h2>
  <%= render 'form' %>
</div>
<%else%>
<b>Sorry Not Allowed to access this page.</b>
<%= link_to "Home", root_path%>
<%end%>